<form class="form-container"action="/search" method="get">
    <h3> Search for location</h3>
    <div class="form-grp">
        <labe>Location</labe><br>
        <input type="text" name="location"><br>
    </div>
    <div class="form-grp">
        <button type="submit">Search</button>
    </div>
   
    
</form>
 

        

